* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #000000;
    color: aqua;
}

button {
    background-color: aqua;
    color: #000000;
}

.water-cell {
    background-color: aqua;
    color: #000000;
}

.miss-cell {
    background-color: #000000;
    color: red;
}

.ship-cell {
    background-color: darkgray;
    color: #000000;
}

.hit-cell {
    background-color: darkred;
    color: #FFFFFF;
}

